<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="studentDao" class="com.blueberry.mytest.StudentDaoImpl" />
	
	<bean id="myBeforeAdvice" class="com.blueberry.mytest.MyBeforeAdvice" />
	
	<bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- 配置目标类 -->
		<property name="target" ref="studentDao" />
		<!-- 实现的接口 -->
		<property name="proxyInterfaces" value="com.blueberry.mytest.StudentDao" />
		<!-- 拦截的名称 -->
		<property name="interceptorNames" value="myBeforeAdvice" />
		<property name="optimize" value="true" />
	</bean>
	
	<!-- 配置目标类 -->
	<bean id="customDao" class="com.blueberry.mytest.CustomDao" />
	
	<!-- 配置通知 -->
	<bean id="myAroundAdvice" class="com.blueberry.mytest.MyAroundAdvice" />
	
	<!-- 对目标类特定的方法进行增强需配置一个带切入点的切面 -->
	<bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<!-- <property name="pattern" value=".*" /> -->
		<property name="patterns" value=".*Save.*, .*Find.*" />
		<property name="advice" ref="myAroundAdvice" />
	</bean>
	
	<!-- 配置产生代理 -->
	<bean id="customDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="customDao" />
		<property name="proxyTargetClass" value="true" />
		<property name="interceptorNames" value="myAdvisor" />
	</bean>
	
	<aop:aspectj-autoproxy />
</beans>